<c-card>
  <c-card-header><strong>Current Weather</strong></c-card-header>
  <c-card-body>

    <div *ngIf="loading" class="text-muted">Loading...</div>
    <div *ngIf="error" class="text-danger">{{ error }}</div>

    <div *ngIf="!loading && !error && data?.current as current">
      <p>Temperature: {{ current.temperature2m }} °C</p>
      <p>Wind: {{ current.windDirection10m }}° /
        {{ current.windSpeed10m }} km/h
        <span *ngIf="current.windGusts10m"> G{{ current.windGusts10m }}</span>
      </p>
      <p>Precipitation: {{ current.precipitation }} mm</p>
      <p>Cloud Cover: {{ current.cloudCover }} %</p>
      <p>Pressure: {{ current.surfacePressure }} hPa</p>
    </div>

  </c-card-body>
</c-card>
